
body{
    background:
        radial-gradient(circle at 20% 20%, rgba(255,255,255,.03), transparent 30%),
        radial-gradient(circle at 80% 60%, rgba(255,255,255,.02), transparent 30%),
        #161311;

    color: var(--text);
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#161311;;
    color:#e8e8e8;
    font-family:'Inter',sans-serif;
}
.noise{
    position: fixed;
    inset: 0;

    background-image:
    repeating-radial-gradient(
        circle at center,
        transparent 0,
        transparent 2px,
        rgba(255,255,255,.01) 3px
    );

    pointer-events:none;

    animation:flicker .15s infinite;
}
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 8%;

    border-bottom:1px solid #222;
}

.logo{
    font-family:'Orbitron',sans-serif;
    color:#8d7aff;
}

nav ul{
    display:flex;
    gap:25px;
    list-style:none;
}

nav a{
    color:white;
    text-decoration:none;
}

.hero{
    min-height:80vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:40px;
}

.hero h1{
    font-size:4rem;
    font-family:'Orbitron',sans-serif;
    color:#8d7aff;

    margin-bottom:20px;
}

.hero p{
    max-width:600px;
    line-height:1.7;
    opacity:.8;

    margin-bottom:30px;
}

.hero button{
    padding:15px 35px;

    background:#8d7aff;
    color:white;

    border:none;
    border-radius:8px;

    cursor:pointer;
    transition:.3s;
}

.hero button:hover{
    transform:translateY(-3px);
}

.cases,
.archive{
    width:90%;
    margin:auto;
    padding:80px 0;
}

.cases h2,
.archive h2{
    margin-bottom:30px;
    font-family:'Orbitron',sans-serif;
}

.cards{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.card{
    background:#141414;

    padding:25px;

    border:1px solid #262626;
    border-radius:12px;

    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
    border-color:#8d7aff;
}

.archive-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.archive-item{
    background:#141414;

    height:180px;

    display:flex;
    justify-content:center;
    align-items:center;

    border-radius:12px;
    border:1px solid #262626;

    transition:.3s;
}

.archive-item:hover{
    border-color:#8d7aff;
}

footer{
    text-align:center;

    padding:30px;

    border-top:1px solid #222;

    opacity:.6;
}